@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Raleway:wght@500&display=swap');


body {
    background-color: #fffcee;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.logo {
    width: 80px
}

#background {
    height: 725px;
    background-color: #134266;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/*NAVAGATION*/

nav a {
    text-align: center;
    text-decoration: none;
    color: #fffcee;
    padding: 35px;
    margin: 100px;
}

nav a:hover {
    background-color: #78C5D7;
    color: #134266;
}

#logo_link {
    padding-top: 5px;
}

/*HERO IMAGE*/

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: 'Cinzel Decorative', 'Bradley Hand', sans-serif;
}

#hero-img {
    width: 100%;
}

/*FOOTER*/

footer a {
    color: #fffcee;
    text-decoration: none;
}

footer a:hover {
    background-color: #78C5D7;
    color: #134266;
}

footer {
    background-color: #134266;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    color: #fffcee;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.social {
    padding-top: 15px;
}

/*BOOKING/JOIN US*/

.book, .join {
    background-color: #78C5D7;
    color: #134266;
    text-decoration: none;
    font-size: 18px;
    padding: 15px, 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #FCE172;
    color: #393424;
}

/*ASSORTED*/

h2 {
    font-family: 'Cinzel Decorative', 'Bradley Hand', sans-serif;
    margin: 0;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #393424;
}

.mountains {
    padding-top: 50px;
}

/*colors*/

header {
    background-color: #134266;
}

.msg {
    background-color: #134266;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 50px;
}

.home-title {
    color: #393424;
    font-family: 'Cinzel Decorative', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #393424;
}

.msg h2 {
    color: #fffcee;
    font-family: 'Cinzel Decorative', 'Bradley Hand', sans-serif;
}

.msg p {
    color:#fffcee;
    font-size: .8em;
    padding-bottom: 15px;
}

