@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Srisakdi&display=swap');

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow {
    box-sizing: border-box
}

.mySlides {
    display: none
}

.slide {
    vertical-align: middle;
}
/* -------------------------------------------------------------------------------------------------- */



body {
  background-color: #fbedea;
}

/* NAV */

header {
  background-color: #FF3F6F;
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  justify-content: space-around;
  display: flex;
  width: 100%;
}

nav a {
  font-size: large;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 35px;
  font-family: "Montserrat", Helvetica, sans-serif;
}

nav a:hover {
  background-color: #8E416A;
}

.logo {
  width: 85px;
  margin-top: 5px;
  justify-self: center;
  align-self: center;
  margin-left: 5px;
  border-radius: 25%;
}

.logo:hover {
  border: 5px solid #8E416A;
}

/* Home page */

#intro {
  text-align: center;
  font-size: x-large;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 100px;
}

.home-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 50px;
  font-size: larger;
}

.link1 {
  grid-column: 1/2;
  margin: 0 auto;
  text-decoration: none;
  color: #8E416A;
  font-family: 'Srisakdi', cursive;
}

.link2 {
  grid-column: 2/3;
  margin: 0 auto;
  text-decoration: none;
  color: #8E416A;
  font-family: 'Srisakdi', cursive;
  
}

.card-img {
  border-width: 5px;
  border: 20px solid #8E416A;
}

.card-img:hover {
  border: 20px solid #FF3F6F;
}

/* GENERAL SETTINGS */

p, dl {
  font-size: large;
  font-family: "Montserrat", Helvetica, sans-serif;
  padding-left: 10px;
}

h1 {
  font-size: 500%;
  font-family: 'Srisakdi', cursive;
  color: #8E416A;
}

h2 {
  font-size: x-large;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
}

/* TIPS AND TRICKS */

/* Create three equal columns that float next to each other */
.column1, .column2 {
  float: left;
  width: 50%;
}

.column2 {
  margin-top: 20px;
}

.pic1, .pic2 {
  margin-left: 100px;
  margin-bottom: 125px;
}

.pic1 {
  border-width: 5px;
  border: 20px solid #8E416A;
}

.pic2 {
  border: 20px solid #FF3F6F;
}

/* clears floats after columns */
#tips:after {
  content: "";
  display: table;
  clear: both;
}

.tip-title, .tip-sub {
  text-align: center;
}

.tip-sub {
  padding-bottom: 40px;
}

/* DECOR */

.container {
  position: relative;
  text-align: center;
}

.img title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
  font-family: 'Srisakdi', cursive;
  color: #8E416A;
  z-index: 100;
}

/* FOOTER */

footer {
  margin-top: 100px;
  background-color: #FF3F6F;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.copy {
  padding: 35px;
  grid-column: 1/2;
  text-align: center;
  font-size: large;
  font-family: "Montserrat", Helvetica, sans-serif;
}

footer p {
  color: white;
  padding: 35px;
  grid-column: 3/4;
  text-align: center;
  font-size: large;
  font-family: "Montserrat", Helvetica, sans-serif;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 50px;
  grid-column: 2/3;
  text-align: center;
  font-size: large;
  font-family: "Montserrat", Helvetica, sans-serif;
}

footer a:hover {
  background-color: #8E416A;
}